body {
    height: 100vh;
    margin: 0px;
    font-family: Roboto;
}

.header {
    background-color: #1F2937;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header-links {
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 20px;
}

.hero-section {
    background-color: #1F2937;
    padding: 110px 150px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.hero-section-signup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    width: 110px;
    height: 30px;
    background-color: #3882F6;
    border-radius: 7px;
    color: #F9FAF8;
    font-size: 15px;
    font-weight: bold;
    border: none;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    flex-wrap: wrap;
}

.sub-text {
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
}

.hero-section-image {
    height: auto;
    width: 500px;
}

.random-info-section {
    padding: 50px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.random-info-heading {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.four-info-text-image {
    display: flex;
    gap: 40px;
}

.first-info-image, .second-info-image, .third-info-image, .fourth-info-image {
    height: auto;
    width: 150px;
    border: 4px solid;
    border-color: #3882F6;
    border-radius: 20px;
}

.first-info, .second-info, .third-info, .fourth-info {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.first-info-text, .second-info-text, .third-info-text, .fourth-info-text {
    color: #1F2937;
    text-align: center;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 120px 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quote {
    color: #4c5664;
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
}

.quoter {
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: end;
}